<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add drug</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>add new drug</h1>
<form action="#" th:action="@{/drug/save}" th:object="${drug}" method="post">
    <p>name:* <input type="text" th:field="*{name}"/></p>
    <p>code:* <input type="text" th:field="*{code}"/></p>
    <p>price:* <input type="text" th:field="*{price}"/></p>
    <p>quantity:* <input type="text" th:field="*{quantity}"/></p>
    <p>description: <input type="text" th:field="*{description}"/></p>
    <p><input type="submit" value="save"/> <input type="reset" value="Reset"/></p>
</form>
<form>
    <button formaction="/drug/list">show all</button>
    <button formaction="/">back</button>
</form>
</body>
</html>