<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          crossorigin="anonymous" type="text/css">
    <title>all patients</title>
</head>
<body>
<h1>choose a patient to add prescription</h1>
<div class="table-bordered table-responsive " style="margin-top: 30px">
    <table class="table">
        <thead>
        <tr>
            <th> Id</th>
            <th> firstName</th>
            <th> lastName</th>
            <th> gender</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${patients.isEmpty()}">
            <td colspan="2"> No patient Available</td>
        </tr>
        <tr th:each="patient : ${patients}">
            <td><span th:text="${patient.id}"> Id </span></td>
            <td><span th:text="${patient.firstName}"> firstName </span></td>
            <td><span th:text="${patient.lastName}"> lastName </span></td>
            <td><span th:text="${patient.gender}"> gender </span></td>

            <td><a th:href="@{/prescription/saveToExistingPatientForm/__${patient.id}__}">add prescription</a></td>


        </tr>
        <form> <button formaction="/">home</button></form>
        </tbody>
    </table>
</div>

<script src="bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>