<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>add patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>add new patient</h1>
<form action="#" th:action="@{/patient/save}" th:object="${patient}" method="post">
    <p>firstName:* <input type="text" th:field="*{firstName}"/></p>
    <p>lastName:* <input type="text" th:field="*{lastName}"/></p>
    <p>gender:* <input type="text" th:field="*{gender}"/></p>
    <p>phoneNumber:* <input type="text" th:field="*{phoneNumber}"/></p>
    <p>address: <input type="text" th:field="*{address}"/></p>
    <p><input type="submit" value="add prescription"/> <input type="reset" value="Reset"/></p>
<!--    <button th:action="@{/prescription/save/}">add prescription</button>-->
</form>


<form>
    <button formaction="/patient/list">show all</button>
    <button formaction="/">back</button>
</form>

</body>
</html>