<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          crossorigin="anonymous" type="text/css">
    <title>all drugs</title>
</head>
<body>

<div class="table-bordered table-responsive " style="margin-top: 30px">

    <table class="table">
        <thead>
        <tr>
            <th> Id</th>
            <th> name</th>
            <th> quantity</th>
            <th> price</th>
            <th> description</th>
            <th> code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${drugs.isEmpty()}">
            <td colspan="2"> No drug Available</td>
        </tr>

        <tr th:each="d : ${drugs}">

            <td><span th:text="${d.id}"> Id </span></td>
            <td><span th:text="${d.name}"> name </span></td>
            <td><span th:text="${d.quantity}"> quantity </span></td>
            <td><span th:text="${d.price}"> price </span></td>
            <td><span th:text="${d.description}"> description </span></td>
            <td><span th:text="${d.code}"> code </span></td>

            <td><a th:href="@{/drug/edit/__${d.id}__}">edit</a></td>
            <td><a th:href="@{/drug/deleteConfirm/__${d.id}__}">delete</a></td>

        </tr>
       <form> <button formaction="/">home</button></form>
        </tbody>
    </table>

</div>

<script src="bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>