<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>all prescriptions</title>
</head>
<body>

<div class="table-bordered table-responsive " style="margin-top: 30px"
     xmlns:th="http://www.thymeleaf.org">
    <table class="table">
        <thead>
        <tr>
            <th> Id</th>
            <th> code</th>
            <th> referralDate</th>
            <th> issueDate</th>
            <th> patient</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${prescriptions.isEmpty()}">
            <td colspan="2"> No prescription Available</td>
        </tr>
        <tr th:each="prescription : ${prescriptions}">
            <td><span th:text="${prescription.id}"> Id </span></td>
            <td><span th:text="${prescription.code}"> code </span></td>
            <td><span th:text="${prescription.referralDate}"> referralDate </span></td>
            <td><span th:text="${prescription.issueDate}"> issueDate </span></td>
            <td><span th:object="${prescription.patient}"> patient </span></td>
            <td><a href="editPrescription.html" th:value="${prescription.getId()}">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="bootstrap/js/jquery-3.4.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/popper.min.js"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>